.git
.env
.venv
.data
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
.DS_Store
**/.DS_Store
tests
typings
